/* Object Oriented CSS and BEM convention */
/* always separate the structure and the skin */
/* separate by - is when we separating two words, eg.icon container=> icon-container. entire new class, not modify the skin  */
/* separate --  is when we want to create another skin from base class, (variation or modifier)*/
/* separate by __ is when this is the element inside the component/block . in html cant be at its own*/

/* Working with icons. 
with Css we can modify svg icon, such as, color using fill*/
/* optimization technique : svg sprite. each icon has id*/

/* CODES  */
/* define global variable */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;

  --color-headings: #1b0760;
  --color-body: #918ca4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* TYPOGRAPHY */
html {
  /* calculation trick : by default is 16px */
  /* if we set fontsize to 62.5 => 62.5% * 16 = 10px */
  /* 1 rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  body {
    font-size: 1.8rem;
  }
}

/* LINKS */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* BADGGES */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* LISTS */
.list {
  list-style: none;
  color: var(--color-headings);
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(/images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* ICONS */
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  background: #f3f9ff;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  /* span :  inline elements. width and height has no effects*/
  /*inline block : when we want to put another element next to it*/
  display: inline-flex;
  justify-content: center; /* horizontal axes*/
  align-items: center; /*vertical*/
}

/* BUTTONS */
/* should we use button VS a element ? */
/* by default the browser  set button element to box-sizing : border-box*/
/* a element, wider that button. reason box-sizing is not border-box*/
/* anchor element is inline by default , to make effects on width: inline-block */
.btn {
  border-radius: 40px;
  cursor: pointer;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
}
.btn--primary:hover {
  background: #3a8ffd;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
  border: none;
}
.btn--secondary:hover {
  background: #00c8eb;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
  border: none;
}
.btn--accent:hover {
  background: #eb623f;
}
.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--outline {
  background: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
